.logos
  .container
    img.logos_icon.appear-stack(src="images/vite.svg" alt="")
    img.logos_icon.appear-stack(src="images/javascript.svg" alt="")
    img.logos_icon.appear-stack(src="images/pug.svg" alt="")
    img.logos_icon.appear-stack(src="images/sass.svg" alt="")
    img.logos_icon.appear-stack(src="images/normalize.svg" alt="")